@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    
    --clr-primary-blue: rgb(2, 2, 177);;
    --clr-secondary-blue: rgba(2, 2, 177, 0.9);
    --clr-primary-white:rgb(255, 255, 255);
    
    --ff-primary: "Heebo", sans-serif;
    --ff-secondry: "Bungee", sans-serif;
    --ff-secondry: "Bungee Shade", sans-serif;

    --fw-500: 500;
    --fw-600: 600;
    
    --fs-300: 0.85rem;
    --fs-400: 0.95rem;
    --fs-500: 1.5rem;





    --_clr-forground: var(--clr-secondary-500);
    --_clr-background: var(--clr-neutral-100);
}