*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none; 
  box-sizing: border-box;
  display: block;
  
}

html,body {
  margin: 0;

  min-height: 100vh;
  line-height: 1.5;

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
