@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    
    --clr-primary-400: hsl(263 55% 52%);
    --clr-primary-800: hsl(262, 32%, 64%);
    --clr-secondary-alpha: hsla(217, 19%, 35%, 0.25);
    --clr-secondary-400: hsl(217 19% 35%);
    --clr-secondary-500: hsl(219 29% 14%);
    --clr-neutral-100: hsl(0 0% 100%);
    --clr-neutral-200: hsl(210 46% 95%);
    --clr-neutral-300: hsl(0 0% 81%);
    
    --ff-primary: "Barlow Semi Condensed", sans-serif;
    --ff-secondry: "Roboto", sans-serif;

    --fw-500: 500;
    --fw-600: 600;
    
    --fs-300: 0.85rem;
    --fs-400: 0.95rem;
    --fs-500: 1.5rem;





    --_clr-forground: var(--clr-secondary-500);
    --_clr-background: var(--clr-neutral-100);
}